.u-absoluteCenter {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  .u-flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .u-offscreen {
    position: absolute;
    left: -999em;
  }
  .demo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .animprogress {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .animprogress__value {
    stroke-dasharray: 339.292;
    stroke-dashoffset: 339.292;
    -webkit-animation: animprogress 2s infinite alternate;
            animation: animprogress 2s infinite alternate;
  }
  @-webkit-keyframes animprogress {
    from {
      stroke-dashoffset: 339.292;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes animprogress {
    from {
      stroke-dashoffset: 339.292;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  
  
  .demo :first-child {
    margin-bottom: 20px;
  }
  .anim2progress {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .anim2progress__meter {
    fill: green;

  }
  .anim2progress__value {
    fill: none;
  }
  .anim2progress__meter {
    stroke: #e6e6e6;
  }
  .anim2progress__value {
    stroke: #f73a32;
    stroke-linecap: round;
  }
  